/* Task card */
/* 
.task_card_title {
  grid-row: 1/2;
  grid-column: 1/2;
  font-weight: bold;
  align-self: center;
  justify-self: start;
  margin-left: 8px;
  font-size: 1.2rem;
}
.task_card_description {
  grid-row: 2/3;
  grid-column: 1/4;
  min-height: 37px;
  overflow: auto;
  font-size: 14px;
  opacity: 55%;
  background-color: var(--dodger-blue);
  width: 97%;
  align-self: center;
  justify-self: center;
  border-radius: 8px;
  padding-left: 1vh;
}
.task_card_priority {
  grid-row: 1/2;
  grid-column: 3/4;
  border-radius: 8px;
  width: 94px;
  height: 70%;
  font-size: 14px;
  align-self: center;
  justify-self: end;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}
.task_card_due_date {
  grid-row: 2/3;
  grid-column: 4/6;

  font-size: 12px;
  align-self: end;
  justify-self: end;
  margin-right: 1vh;
  color: var(--dodger-blue);

  white-space: pre-line;
} */

/* Project form */

#form_project {
  background-color: var(--icy-blue);
  padding: 1vh;
  display: grid;

  grid-template-rows: 1fr 0.5fr 0.5fr;
  border-radius: 16px;
  border: 2px solid black;
}
#form_project > p {
  display: flex;
  flex-direction: column;
  margin: 1vh;
  align-items: start;
  max-height: 60px;
  color: var(--persian-blue);
  padding: 10px;
  gap: 8px;
  box-shadow: 0px 0px 4px black;
  border-radius: 12px;
}

#project_name {
  all: unset;
  border-bottom: 2px solid var(--school-bus-yellow);
}

.save_project {
  cursor: pointer;
  grid-row: 2/3;

  background-color: var(--school-bus-yellow);
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  color: var(--icy-blue);
  justify-self: center;
  align-self: center;
  height: 95%;
  width: 50%;
}
.project_form_close {
  cursor: pointer;
  grid-row: 3/4;
  grid-column: 1/2;
  background-color: var(--dodger-blue);
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  color: black;
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 50%;
}
#project_list {
  display: grid;

  height: 95%;
  grid-auto-rows: minmax(25%, max-content);
  min-height: 0;

  overflow-y: auto;
}
.project_card {
  background-color: var(--icy-blue);
  width: 95%;
  margin-top: 6px;
  justify-self: center;
  display: grid;
  grid-template-rows: 33% 33% 34%;
  grid-template-columns: 80% 20%;

  border-radius: 12px;
  box-shadow: 0px 0px 2px black;
}
.project_card_name {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 1.1rem;
  padding: 2px 12px;
  text-wrap: nowrap;
  border-bottom: 2px solid var(--dodger-blue);
}

.delete_project_btn {
  cursor: pointer;
  grid-row: 1/4;
  grid-column: 2/3;
  /* width: 4vw; */
  /* justify-self: end; */
  font-size: 4vh;

  background: transparent;
  color: var(--bright-lemon);

  text-align: center;
  border-left: 2px solid var(--dodger-blue);
  /* border-radius: 0px 8px 8px 0px; */
}
.delete_project_btn:hover {
  background-color: var(--school-bus-yellow);
  color: white;
}
.add_task_to_project_btn {
  cursor: pointer;
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: center;
  background-color: var(--persian-blue);
  color: var(--icy-blue);
  border-radius: 4px;
  align-self: center;
  height: 90%;
  width: 80%;
  text-align: center;
}
.open_project_btn {
  cursor: pointer;
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: center;
  background-color: var(--dodger-blue);
  color: var(--persian-blue);
  border-radius: 4px;
  width: 80%;
  font-size: 14px;
  height: 90%;
  align-self: center;
  text-align: center;
}

#form_to_add_task_to_project {
  height: 40vh;
  background-color: var(--icy-blue);
  border-radius: 8px;
  display: grid;
  grid-template-rows: 60% 20% 20%;
  padding: 4px;
}
.fieldset {
  border: none;
}
.fieldset_content {
  /* all: unset; */
  display: grid;
  border: none;
  /* height: 95%; */
  grid-auto-rows: minmax(15%, max-content);
  grid-template-columns: 90% 10%;
  min-height: 0;

  overflow-y: auto;
}
.fieldset > legend {
  color: var(--school-bus-yellow);
  margin: 4px 0px;
  border-bottom: 2px solid var(--bright-lemon);
}
.fieldset_content > label,
.fieldset_content > input {
  font-style: italic;
  /* max-height: 20px; */
  background-color: var(--dodger-blue);
  border-radius: 4px;
  margin: 2px 0px;
}
.fieldset_content > label {
  margin: 4px 2px;
  padding: 0px 4px;
  min-height: 20px;
}

.fieldset_content > input {
  justify-self: center;
}
#save_task_to_project {
  cursor: pointer;
  background-color: var(--persian-blue);
  color: var(--icy-blue);
  height: 95%;
  margin: 2px;
  text-align: center;
  border-radius: 16px;
}
#save_task_to_project:hover {
  outline: 2px solid var(--persian-blue);
  background-color: var(--icy-blue);
  color: var(--persian-blue);
}
#close_form_to_add_task_to_project {
  cursor: pointer;

  background-color: var(--school-bus-yellow);
  color: var(--icy-blue);
  height: 95%;
  width: 96%;
  justify-self: center;
  /* margin: 4px; */
  text-align: center;
  border-radius: 16px;
}
#close_form_to_add_task_to_project:hover {
  background: transparent;
  outline: 2px solid var(--school-bus-yellow);
  color: var(--school-bus-yellow);
}
.project_title {
  grid-row: 1/2;

  padding: 0px 8px;
  font-size: 1.2rem;
}
#task_in_project {
  grid-row: 2/3;

  display: grid;
  padding: 8px;
  grid-auto-rows: minmax(25%, max-content);
  min-height: 0;
  gap: 10px;
  overflow-y: auto;
}
.project_task_card {
  background-color: var(--icy-blue);
  box-shadow: 1px 0px 8px 1px var(--persian-blue);
  width: 95%;
  justify-self: center;
  border-radius: 12px;
}
#show_task {
  grid-row: 3/4;
  margin: 0px 24px;

  justify-self: end;
  background-color: var(--dodger-blue);
  color: var(--icy-blue);
}
